.dashboard {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    z-index: 2;
    border: 1px solid #EA6501;
    width: 150px;
    max-width: 150px;
    height: 100%;
    background-color: #00364bd2;
    color: #EA6501;
}

.main {
    margin-left: 150px;
    height: 100vh;
}

.header {
    border: 1px solid #EA6501;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    min-height: 8%;
    max-height: 8%;
    width: 100%;
    background-color: #00364bd2;
    color: #EA6501;
}

.main-content {
    height: 92%;
}