.dashboard {
    // display: flex;
    min-width: 100%;
    min-height: 100vh;
    // background-color: gray;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    z-index: 2;
    border: 1px solid black;
    width: 20%;
    max-width: 150px;
    height: 100%;
}

.main {
    // flex-grow: 1;
    margin-left: 150px;
    height: 100vh;
}

.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    min-height: 8%;
    max-height: 8%;
    width: 100%;
}

.main-content {
    height: 92%;
}