.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper.task-details {
    position: relative;
    min-width: 50%;
    width: 95%;
    min-height: 50%;
    height: 90%;
    
    background-color: #00364bd2;
    color: #EA6501;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.task-details .modal-header {
    display: flex;
    border: none;
}

.task-details .modal-header-title {
    flex-grow: 1;
}

.task-details .modal-body {
    border: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.task-details .modal-body-header {
    display: flex;
    align-items: center;
    height: 10%;
}

.task-details .modal-body-title {
    flex-grow: 1;
}

.taskmodal-status {
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    color: black;
}

#status-backward, #status-forward {
    padding: 5px;
}

#status-backward {
    border-radius: 3px 0px 0px 3px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#status-forward {
    border-radius: 0px 3px 3px 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

#status-backward:hover, #status-forward:hover {
    box-shadow: 0 0 2px black;
}

.status-display {
    text-align: center;
    padding: 0px 5px;
}

.task-details .modal-body-content {
    display: flex;
    flex-grow: 1;
}

.task-details .task-content {
    flex-basis: 60%;
    margin-right: 2.5px;
}

.task-details .user-content {
    flex-basis: 40%;
    margin-left: 2.5px;
}

.task-details .task-notes {
    height: 50%;
    box-shadow: 0 0 3px black;
}

.inner-notes {
    width: 100%;
    height: 100%;
    background-color: #00364B;
    color: #EA6501;
    border-radius: 3px;
    padding: 0.5rem;
}

.notes-editor {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #00364B;
    color: #EA6501;
    border-radius: 3px;
    padding: 0.5rem;
}

.task-details .modal-subsection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.task-details .task-content .modal-subsection {
    height: 70%;
}

.task-details .user-content .modal-subsection {
    height: 50%;
    padding: 5px 10px;
}

.task-details .modal-task-list {
    flex-grow: 1;
}

.task-details .modal-comment-list {
    flex-grow: 1;
}

.task-details .modal-subtitle {
    text-align: center;
    margin-bottom: 5px;
}
.task-details .user-content {
    background-color: #00364B;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
}