.profile-wrapper {
    // background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    margin: 15px;
    background-color: #00364bd2;
    color: #EA6501;
    padding: 15px 5px;
}

#profileView .list-title {
    text-align: center;
    // margin-top: 15px;
    margin-bottom: 15px;
}