#listView {
    // background-color: blue;
    // flex-grow: 1;
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.5);
    // border-radius: 3px;
    // box-shadow: 0 0 3px black;
}

.listView-container {
    // background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    background-color: #00364bd2;
    padding: 15px 5px;
}

#listView .list-title {
    text-align: center;
    margin-bottom: 15px;
}