#listView {
    height: 100%;
}

.listView-container {
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    background-color: #00364bd2;
    padding: 15px 5px;
}

#listView .list-title {
    text-align: center;
    margin-bottom: 15px;
}