#chakra-modal-2 {
    // width: 500px;
    max-width: 90%;
    height: 80%;
}

#chakra-modal--header-2 {
    display: flex;
    align-items: center;
}

#chakra-modal--body-2 {
    display: flex;
    flex-direction: column;
}

.modalTitle {
    display: block;
}

.chakra-modal__close-btn {
    display: block;
    align-self: center;
}

.subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid brown;
}

.subheader h2 {
    flex-grow: 1;
}

.taskCharacteristic:not(:last-child) {
    margin-right: 10px;
}

.taskContent {
    display: flex;
    border: 1px solid black;
    height: 100%;
}

.taskData {
    border: 1px solid blue;
    flex-grow: 1;
    overflow-y: auto;
}

.taskData textarea {
    min-height: 30%;
}

.tags {
    border: 1px solid green;
    display: flex;
    height: fit-content;
}

.tag {
    border: 1px solid black;
    padding: 0px;
}

.tag .css-1h8gyx6, .bx.bx-x {
    line-height: 1.5;
}

.css-1kpd5c2 {
    height: 1.5rem;
    padding: 0px;
}

.tags button, #menu-button-8 {
    border: 1px solid black;
}

.bx.bx-x {
    font-size: 1.2rem;
    align-self: center;
    margin-left: 0.2rem;
}

.css-r6z5ec {
    border-radius: var(--chakra-radii-md);
}

.chakra-menu__group {
    padding-top: 0px;
    border-radius: var(--chakra-radii-md);
}

#menu-list-4 {
    padding: 0px;
    // border-radius: var(--chakra-radii-md);
    border: none;
}

.chakra-menu__menuitem-option span:last-child {
    width: fit-content;
}

.chakra-menu__menuitem-option:first-child {
    border-radius: var(--chakra-radii-md) var(--chakra-radii-md) 0 0;
}

.chakra-menu__menuitem-option:last-child {
    border-radius: 0 0 var(--chakra-radii-md) var(--chakra-radii-md);
}

.userData {
    border: 1px solid red;
    flex-grow: 1;
}

.react-datepicker-wrapper {
    width: 7rem !important;
    margin-right: 5px;
}
.react-datepicker__input-container input {
    width: 5rem !important;
}
// .react-datepicker__input-container input {
//     width: fit-content;
// }