.taskCard {
    border: 5px solid black;
    border-radius: 16px;
    min-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #00364B;
    margin-bottom: 10px;
    box-shadow: 0 0 3px black;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.projectName {
    font-size: 0.7rem;
}

.objective {
    flex-grow: 1;
}

.assignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: lightgray;
}

.tooltip-menu-item:hover {
    background-color: blue;
}

.tippy-content {
    padding: 0px;
}