.taskCard {
    border: 1px solid black;
    border-radius: 16px;
    min-width: 100%;
    // width: fit-content;
    // // width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    // // justify-content: space-between;
    // // margin-right: 0px !important;
    // // margin: auto;
    // margin-top: 5px;
    // // font-size: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.projectName {
    font-size: 0.7rem;
}

.objective {
    flex-grow: 1;
}

.title {
    // margin-right: 10px;
    // flex-grow: 1;
    // width: 40%;
    // max-width: 40%;
    // height: fit-content;
}

.avatars {
    // margin-right: 10px;
    // padding: 0 5px;
    // width: 30%;
    // max-width: 30%;
    // height: fit-content;
}

.chakra-avatar {
    cursor: default;
}

.status {
    // flex-grow: 1;
    // width: 30%;
    // max-width: 30%;
    // height: fit-content;
}
.chakra-button.addButton.css-dn5esd {
    border-radius: 50%;
    // // margin-right: 10px;
    width: 32px !important;
    // height: auto;
}
.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: lightgray;
}

.chakra-button.addButton.css-dn5esd > i {
    width: 32px;
    // height: 32px;
}