*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/gold-bg.png');
  background-size: cover;
}