#projectView {
    display: flex;
    flex-direction: column;
    // background-color: grey;
}

.viewTabGroup {
    display: flex;
    
}

.viewTab {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.viewTab:not(:last-child) {
    border-right: 1px solid black;
}

.viewTab.active {
    background-color: black;
    color: white;
}

.view {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-grow: 1;
}