#projectView {
    display: flex;
    flex-direction: column;
    // background-color: grey;
}

.viewTabGroup {
    display: flex;
    background-color: #00364B;
    border-radius: 3px;
    padding: 5px;
    
}

.viewTab {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    // border-bottom: 1px solid black;
    color: #EA6501;
    border-radius: 3px;
    padding: 5px;
    // text-align: center;
    box-shadow: 0 0 1px 1px black;
    
}

.viewTab:hover {
    // border-right: 1px solid black;
    color: #00364B;
    background-color: #EA6501;
    box-shadow: 0 0 3px 1px black;
}

.viewTab.active {
    background-color: #EA6501;
    color: #00364B;
    box-shadow: 0 0 3px 1px black;
}

.view {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
    color: #EA6501;
}