#projectDetail {
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}

.project-description {
    border: 1px solid black;
    height: 30%;
    margin-bottom: 10px;
}

.taskAssignment {
    display: flex;
    width: 100%;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unassigned, .assigned {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    flex-grow: 1;
    width: 50%;
}

.list-title {
    text-align: center;
}