.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper.pc-form {
    position: relative;
    min-width: 60%;
    // width: 95%;
    min-height: 60%;
    // height: 90%;
    // background: white;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // align-content: center;
    padding: 10px;
    background-color: #00364bd2;
    color: #EA6501;
}

.form-close {
    position: absolute;
    right: 10px;
    text-align: center;
    // padding: 0.5rem;
    cursor: pointer;
    background-color: #00364B;
    color: #EA6501;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-close:hover {
    background-color: #001d29;
}
// .submit-button {
    
//     border-radius: 35px;
//     margin-top: 1rem;
    
//     cursor: pointer;
//     background-color: #00364B;
//     color: #EA6501;
// }

// .submit-button:hover {
//     background-color: #001d29;
// }

.pc-form-title {
    text-align: center;
}

.pc-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.pc-form-input {
    display: block;
    text-align: center;
    border-radius: 35px;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #00364B;
    color: #EA6501;
}

#pc-form-textarea {
    text-align: start;
    resize: none;
    padding: 0.7rem;
    min-height: 90px;
    margin-bottom: 5px;
}

.css-1s2u09g-control, .css-1pahdxg-control {
    background-color: #00364B !important;
    color: #EA6501 !important;
    border-color: #EA6501 !important;
}

.css-1okebmr-indicatorSeparator {
    // color: #EA6501 !important;
    // border-color: #EA6501 !important;
    background-color: #EA6501 !important;
}

.css-tlfecz-indicatorContainer {
    color: #EA6501 !important;
}

.css-26l3qy-menu {
    background-color: #00364B !important;
}

.css-g1d714-ValueContainer {
    background-color: #00364B !important;
    color: #EA6501 !important;
}

.css-12jo7m5, .css-1rhbuit-multivalue, .css-xb97g8 {
    background-color: #00364B !important;
    color: #EA6501 !important;
}

// #pc-form-dropdown {
//     width: 100%;
// }

// .pc-form-submit-button {
//     width: max-content;
//     background: white;
//     border: 1px solid black;
//     align-self: center;
// }

